body{
  padding: 0px;
  margin:0px;
  font-family: 'Bai Jamjuree', sans-serif;
}
.attribution{
  text-align: center;
}
.btn{
  background-color: hsl(171, 66%, 44%);
  border-radius: 20px;
}

.btn1{
  background-color:  hsl(233, 100%, 69%);
}
.computer{
  width: 90%;

}
#center{
  justify-content: center;
}
.center{
  text-align: center;
  color: hsl(210, 10%, 33%);
}
.devices{
  width:70%;
}
.design{
  background-color: #fcf8f3;
  padding: 4%;
}
.heading{
  color: hsl(210, 10%, 33%);
}
.heading-center{
  text-align: center;
}
.img-thumbnail1{
  width: 15%;
  margin-left: 43%;
}
.paragraph{
  color: hsl(201, 11%, 66%);
}
.paragraph-center{
  color: hsl(201, 11%, 66%);
  text-align: center;
}
